.l-dashboard {
    background-color: #f5f7fa;
    // min-height: 100;

    &.is-close {
        .l-dashboard-main {
            margin-left: @aside-width-sm;
        }
    }
}
.l-dashboard-main {
    transition: margin-left 0.3s ease-in-out;
    margin-left: @aside-width + @aside-width-sm;
}

.l-dashboard-primary {
    padding: 0 60px;
}
