.m-login-card {
    .w(350px);

    .m-card-form-label {
        .flex;
        justify-content: space-between;
        .w(100%);
    }

    .u-skip {
        margin-top: 20px;
        text-decoration: none;
    }
}
