.p-account-email__login {
}

@media screen and (max-width: @desktop) {
    .p-account-email__login {
        max-width: 1140px;
    }
}
@media screen and (max-width: @tablet) {
    .p-account-email__login {
        max-width: 960px;
    }
}
@media screen and (max-width: @mobile) {
    .p-account-email__login {
        max-width: 720px;
    }
}
@media screen and (max-width: @mobile-s) {
    .p-account-email__login {
        max-width: 540px;
    }
}
