// .p-account-email--register {
// .el-form-item.is-success {
//     .el-input__validateIcon {
//         color: var(--el-color-success);
//     }
// }

// .m-password {
//     .el-input__validateIcon {
//         .none;
//     }
// }
// }

.m-register-card {
    .w(730px);

    .el-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .el-form-item {
        margin-bottom: 0;
    }

    .u-back {
        margin-top: 20px;
    }
}
