.m-register-card {
    .w(730px);

    .el-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }
    .el-form-item {
        margin-bottom: 0;
    }
    .is-required {
        color: @primary-danger;
        font-style: normal;
        padding: 0 5px;
    }

    .m-code {
        .el-form-item__content {
            .pr;
        }
    }

    .u-send-btn {
        .pa;
        width: 100px !important;
        right: 0;
        color: #fff;
        .flex !important;
    }
}
