.p-bind {
    min-height: 100vh;

    .el-button {
        box-shadow: 0 2px 6px @primary-shadow;
        background-color: @primary;
        border-color: @primary;
        padding: 0 1.5rem;
        font-size: 12px;
        font-weight: 600;
        line-height: 40px;
        letter-spacing: 0.5px;
        display: block;
        width: 100%;
        height: auto;
        box-sizing: border-box;

        &:not(.is-disabled) {
            &:hover {
                border-color: transparent !important;
                background-color: @primary-hover !important;
            }
        }
    }
    .is-required {
        color: @primary-danger;
        font-style: normal;
        padding: 0 5px;
        font-style: normal;
    }
}
.m-bind-block {
    .flex;
    align-items: center;
    justify-content: center;
    .pr;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 10px;
    max-width: 1200px;
    height: 600px;

    .m-current {
        .x;
        font-size: 16px;
        color: #999;
        .flex;
        align-items: center;
        justify-content: center;
        gap: 3px;
    }
    .u-bind-tips {
        .x;
        margin: 10px 0;
        font-size: 13px;
        color: #999;
    }
    .u-edit-btn {
        color: #fff;
    }

    .u-back {
        .x;
        .db;
        margin-top: 10px;
        .pointer;
        .flex;
        align-items: center;
        justify-content: center;
        &:hover {
            color: @primary-hover;
        }
    }

    .u-current {
        color: #fc922d;
        .bold;
    }
    .u-status--success {
        color: #8edc64;
        align-items: center;
        .flex;
    }

    .u-header {
        .bold;
        font-size: 32px;
        margin-bottom: 10px;
        .x;
    }

    .u-slogan {
        .fz(16px);
        .x;
        margin-bottom: 20px;
    }

    .m-login-card {
        width: auto;
    }
}
.m-bind-block__pic {
    height: 600px;
    width: 600px;
    .flex;
    align-items: center;
    .pa;
    .lt(50px,0);
    .z(1);
    img {
        .size(100%,auto);
    }
}
.m-bind-block__main {
    .pr;
    .z(2);
    padding-left: 450px;
    width: 386px;
    flex-grow: 0;
}

@media screen and (max-width: @notebook) {
    .m-bind-block {
        max-width: 1000px;
    }
}
@media screen and (max-width: @mininote) {
    .m-bind-block {
        max-width: 800px;
    }
    .m-bind-block__pic {
        .none;
    }
    .m-bind-block__main {
        padding-left: 0;
    }
}
